.flexDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav1{
    display: flex;
    justify-content: space-between;
}

.iconsDiv > svg {
    margin-left: 10px;
}

.navbar-brand{
    font-family: "Press start 2p";
    font-size: 25px;
    font-weight: 800;
}