.navBar {
    position: sticky;
    top: 0;
    z-index: 1030;

    >nav {
        background-color: rgb(95, 84, 246) !important;
        color: white;
    }
}

.flexDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sec1>div {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-family: "Press start 2p";
    font-size: 23px;
    font-weight: 800;
    display: flex;

    >div {
        display: flex;
        align-items: center;
    }

    >img {
        width: 50px;
        margin-right: 10px;
    }
}

.form-control {
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px !important;
}


.iconsDiv {
    display: flex;
    justify-content: flex-end;

    >a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.perfil {
    display: flex;
    align-items: center;

    svg {
        margin-right: 6px;
        margin-left: 15px;
    }

    span {
        font-size: 18px;
        font-weight: 500;
    }
}


.scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* permite scroll horizontal */
    -webkit-overflow-scrolling: touch;
    /* scroll suave en iOS */
    gap: 15px;
}

.scroll-container>.nav-link {
    flex: 0 0 auto;
    /* evita que se encojan */
    min-width: 100px;
    /* ancho mínimo */
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 12px;
    padding-right: 12px;

    border-radius: 15px;
}

.paraEfecto:active {
    transform: scale(0.97);
    background: #8f9bf8;
    color: white;
}

.paraEfecto2:active {
    transform: scale(0.97);
    background: #dbdbdb;
    color: black;
}

@media (max-width: 500px) {
    .navbar-brand {
        font-size: 20px;

        >img {
            width: 40px;
        }
    }

    .iconsDiv>a {
        margin-left: 8px;
        margin-right: 8px;
    }

    .perfil {
        svg {
            margin: 0px;
        }

        span {
            display: none;
        }
    }


    .scroll-container {
        padding-top: 8px;
        padding-bottom: 8px;

        >div {
            background: rgb(82, 72, 224);
        }
    }
}